{% extends "portfolio/base.html" %} {% load static %}
{% block title %}About Daniel Garro{% endblock title %}
{% block content %}
<ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a class="my-navs" href="{% url 'portfolio:index' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
</ol>
<div class="container">
    <div class="shadow-lg p-4 m-3">
        <article class="border-bottom border-muted">
            <h2 class="text-secondary text-center display-4">
                <img src="{% static 'img/logo.png' %}" width="55" height="55">
                <a class="my-navs-title" href="{% url 'portfolio:index' %}">About | Daniel Garro</a>
            </h2>
        </article>
    </div>
</div>
<div class="container w-75">
    <article>
        <h5 class="text-secondary text-center display-4">Summary</h5>
        <div class="text secondary text-center p-3">
            {{ summary.text }}
        </div>
        <br />
        <p class="text-muted text-center">
        {% for link in links %}
            <a class="my-navs-about" href="{{ link.url }}" target="_blank">{{ link.name }}</a>
        {% endfor %}
        </p>
    </article>
<div class="container w-75">
    <article>
        <h5 class="text-secondary text-center display-4">For Fun</h5>
        <ul class="list-group list-group-flush">
            {% for hobby in hobbies %}
            <li class="list-group-item text-secondary">
                <h6>{{ hobby.name|title }}</h6>
                <br /> 
                <p>{{ hobby.description }}</p>
                <p>{{ hobby.dates_practiced }}</p>
                {% if hobby.url %}
                    <a class="my-navs" href="{{ hobby.url }}" target="_blank">Website</a> 
                {% endif %}
            {% endfor %}
            </li>
        </ul>
    </article>
</div>

{% endblock content %}