{% extends "portfolio/base.html" %} {% load static %}
{% block content %}
<ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a class="my-navs" href="{% url 'portfolio:index' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Skills</li>
</ol>
<div class="container">
    <div class="shadow-lg p-4 m-3">
        <article class="border-bottom border-muted">
            <h2 class="text-secondary text-center display-4">
                <img src="{% static 'img/logo.png' %}" width="55" height="55">
                <a class="my-navs-title" href="{% url 'portfolio:index' %}">Skills | Daniel Garro</a> 
            </h2>
        </article>
    </div>
</div>
<div class="container w-75">
    <article>
        <h5 class="text-secondary text-center display-4">Hard Skills</h5>
        <br /> 
        <h5 class="text-secondary text-center">Advanced Skills</h5>
        {% for skill in skills %}
        <ul class="list-group list-group-flush">
            {% if skill.level == "AL" %}
            <li class="list-group-item text-secondary">
                <p>{{ skill.name }}</p>
            {% endif %}
            </li>
        </ul>
        {% endfor %}
        <br/>
        <h5 class="text-secondary text-center">Familiar Skills</h5>
        {% for skill in skills %}
        <ul class="list-group list-group-flush">
            {% if skill.level == "FL" %}
            <li class="list-group-item text-secondary">
                <p>{{ skill.name }}</p>
            {% endif %}
            </li>
        </ul>
        {% endfor %}
         <br/>
        <h5 class="text-secondary text-center">Other Skills</h5>
        {% for skill in skills %}
        <ul class="list-group list-group-flush">
            {% if skill.level == "OL" %}
            <li class="list-group-item text-secondary">
                <p>{{ skill.name }}</p>
            {% endif %}
            </li>
        </ul>
        {% endfor %}
    </article>
</div>
<div class="container w-75">
    <article>
        <h5 class="text-secondary text-center display-4">Soft Skills</h5>
        <br /> 
        <h5 class="text-secondary text-center">Highly Proficient</h5>
        <ul class="list-group list-group-flush">
            {% for soft_skill in soft_skills %}
            <li class="list-group-item text-secondary">
                {% if soft_skill.proficiency == "HP" %}
                <p>{{ soft_skill.name }}</p>
                {% endif %}
            {% endfor %}
            </li>
        </ul>
    </article>
</div>

{% endblock content %}