{% load static %} {% load bootstrap4 %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Daniel Garro" />
        <title>Daniel Garro Profile</title>
        {% bootstrap_css %} {% bootstrap_javascript jquery='full' %} 
        <!-- My stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    </head>
    <body class="m-3">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f2fbff;">
            <a class="navbar-brand" href="{% url 'portfolio:index' %}">
              <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top">
              Profile | Daniel Garro 
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'portfolio:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            {% block content %}{% endblock content %}
            <br />
            <footer class="text-center pt-4 border-top border-muted">
                &copy; 2023, Daniel Garro 
            </footer>
        </main>
    </body>
</html>

