{% extends "portfolio/base.html" %} {% load static %}
{% block content %}
    <div class="container">
        <div class="shadow-lg p-4 m-3">
            <article class="border-bottom border-muted pt-2">
                <h2 class="text-secondary text-center display-4">
                    <img src="{% static 'img/logo.png' %}" width="55" height="55">
                    Profile | Daniel Garro 
                </h2>
            </article>
        </div>
    </div>
    <div class="container w-75 mt-3">
        <h5 class="text-muted pl-3"><a class="my-navs" href="{% url 'portfolio:projects' %}">Projects</a><h5>
        <br />
        <h5 class="text-muted pl-3"><a class="my-navs" href="{% url 'history:work_experience' %}">Work Experience</a>
        <br />
        <h5 class="text-muted pl-3"><a class="my-navs" href="{% url 'history:my_education' %}">Education</a>
    </div>
    <br /> 
    <div class="container w-75">
        <article>
            <ul class="list-group list-group-flush">
                {% for link in links %}
                <li class="list-group-item">
                    <p class="text-secondary">
                    <a class="my-navs" href="{{ link.url }}">{{ link.name }}</a></p>
                {% endfor %}
                </li>
            </ul>
        </article>
    </div>
{% endblock content %}