{% extends "portfolio/base.html" %} {% load static %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <div class="container" id="main-title-cont">
        <div class="shadow-lg p-4 m-3">
            <article class="border-bottom border-muted">
                <h2 class="text-secondary text-center display-4">
                    <img src="{% static 'img/logo.png' %}" width="55" height="55">
                    <a class="my-navs-title" href="{% url 'portfolio:index' %}">Profile | Daniel Garro</a> 
                </h2>
            </article>
        </div>
    </div>
    <div class="container w-75">
        <h5 class="text-muted text-right pr-3"><a class="my-navs" href="{% url 'portfolio:projects' %}">Projects</a><h5>
        <br />
        <h5 class="text-muted text-right pr-3"><a class="my-navs" href="{% url 'history:work_experience' %}">Work Experience</a></h5>
        <br />
        <h5 class="text-muted text-right pr-3"><a class="my-navs" href="{% url 'history:my_education' %}">Education</a></h5>
        <br />
        <h5 class="text-muted text-right pr-3"><a class="my-navs" href="{% url 'history:skills' %}">Skills</a></h5>
        <br />
        <h5 class="text-muted text-right pr-3"><a class="my-navs" href="{% url 'history:about' %}">About</a></h5>
        {% for link in links %}
            <br />
            <h5 class="text-muted text-right pr-3"><a class="my-navs" href="{{ link.url }}" target="_blank">{{ link.name }}</a></h5>
        {% endfor %}
    </div>
   
{% endblock content %}