{% extends "portfolio/base.html" %} {% load static %} 
{% block content %}
    <div class="container w-75 mt-4">
        <ul class="list-group">
            {% for project in projects %} 
            <li class="list-group-item">
                <article>
                    <h6 class="text-secondary">{{ project.title }}</h6>
                    <br />
                    <p class="text-secondary">{{ project.description }}</p>
                    <a class="my-navs" href="{% url 'portfolio:project' project.id %}">View</a>
                </article>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}