{% extends "portfolio/base.html" %} {% load static %} 
{% block title %}Daniel Garro's Projects{% endblock title %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a class="my-navs" href="{% url 'portfolio:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Projects</li>
    </ol>
</nav>
<div class="container">
    <div class="shadow-lg p-4 m-3">
        <article class="border-bottom border-muted">
            <h2 class="text-secondary text-center display-4">
                <img src="{% static 'img/logo.png' %}" width="55" height="55">
                <a class="my-navs-title" href="{% url 'portfolio:index' %}">Projects | Daniel Garro</a> 
            </h2>
        </article>
    </div>
</div>
<div class="container w-75 mt-4">
    <ul class="list-group">
        {% for project in projects %} 
        <li class="list-group-item">
            <article>
                <h6 class="text-secondary">{{ project.title|title }}</h6>
                <br />
                <p class="text-secondary">{{ project.description }}</p>
                <a class="my-navs" href="{% url 'portfolio:project' project.id %}">View</a>
            </article>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}