{% extends "portfolio/base.html" %} {% load static %} {% load bootstrap_icons %}
{% block title %}{{ project.title|title }} Project{% endblock title %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a class="my-navs" href="{% url 'portfolio:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="my-navs" href="{% url 'portfolio:projects' %}">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ project.title|title }}</li>
    </ol>
</nav>
    <div class="container w-75 border-bottom border-muted">
        <h4 class="text-center text-secondary display-4"><a class="my-navs-title" href="{% url 'portfolio:projects' %}">{{ project.title|title }}</a></h4>
        <br />
    </div>
    <div class="container w-75">
        <article class="text-secondary text-center">
            <p class="mt-4">{{ project.created_with }}</p>
            <br /> 
            <p>{{ project.description }}</p>
            <br />
            <a class="my-navs" href="{{ url }}">{% bs_icon 'github' %}</a>
            <br /> 
            <a class="my-navs" href="{% url 'portfolio:print_project' project.id %}">{% bs_icon 'printer' %}</a>
            <br />
            <a class="my-navs" href="{% url 'portfolio:add_new_project' project.id %}">{% bs_icon 'file-plus' %}</a>
        </article>
    </div>
{% endblock content %}